:root {
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-700: hsl(245, 19%, 35%);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);
}

body {
  background: url("file:///C:/Users/Ahmed/Desktop/conference-ticket/images/background-desktop.png");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20%;
  width: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  font-family: "Roboto Mono";
  height: 100vh;
}
body > div {
  display: flex;
  flex-direction: row;
  width: 400px;
  text-align: center;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
body .header {
  display: flex;
  flex-direction: column;
  width: 100vh;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
body .header h1 {
  font-size: 40px;
  text-align: center;
  text-wrap: wrap;
  width: 700px;
}
body .header p {
  text-align: center;
  text-transform: none;
}
body .header p::first-letter {
  text-transform: uppercase;
}
body .header .after-add-full-name {
  color: var(--Orange-700);
}
body form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
body form .full-name,
body form .email,
body form .user-name {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}
body form label {
  padding-bottom: 7px;
}
body form input {
  width: 350px;
  height: 40px;
  border: 1px solid var(--Neutral-500);
  background-color: transparent;
  color: var(--Neutral-0);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  outline: none;
  padding: 0 10px;
}
body form button {
  background-color: var(--Orange-500);
  width: 370px;
  padding: 0 10px;
  height: 40px;
  border: 1px solid var(--Orange-700);
  color: var(--Neutral-900);
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
body form button:hover {
  background-color: var(--Orange-500);
}
body .ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}
body .ticket > img {
  z-index: 1;
  width: 100%;
  height: 100%;
}
body .ticket img + div {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 18%;
  font-size: 26px;
  text-align: left;
  text-transform: capitalize;
  left: 274px;
}
body .ticket img + div img {
  padding-right: 10px;
  width: 31px;
}
body .ticket div + span {
  position: absolute;
  top: 24%;
  left: 34%;
  font-size: 15px;
  font-weight: 200;
}
body .ticket .img {
  width: 57px;
  position: absolute;
  left: 30%;
  top: 32%;
}
body .ticket div + h3 {
  position: absolute;
  top: 0;
  left: 0;
}

.valid-input {
  border: 1px solid var(--Orange-700);
}

.valid-div {
  padding-top: 10px;
  color: var(--Orange-700);
}
.valid-div .span-valid {
  font-size: 10px;
  color: var(--Orange-700);
}
.valid-div svg {
  padding-right: 5px;
  height: 13px;
}/*# sourceMappingURL=main.css.map */